
.about__container {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  font-size: 3rem;
  font-weight: 700;
  color: wheat;
  text-align: center;
  text-shadow:  0px 15px 5px rgba(0,0,0,0.1),
                10px 20px 5px rgba(0,0,0,0.05),
                -10px 20px 5px rgba(0,0,0,0.05);
}

.about__info {
  display: flex;
  padding-top: 50px;
}

.about__paragraph {
  width: 80%;
  font-size: 1.3rem;
  line-height: 1.5;
  color: white;
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.about__image {
  max-width: 300px;
  height: auto;
}