

.characters__title {
  font-size: 3rem;
  font-weight: 700;
  color: wheat;
  text-align: center;
  padding: 40px;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                   10px 20px 5px rgba(0,0,0,0.05),
                   -10px 20px 5px rgba(0,0,0,0.05);
}

.cards__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  background-color: gray;
  box-shadow: 5px 5px 0 0 
    rgba(65,117,5,1), 10px 10px 0 0 
    rgba(65,117,5,0.6), 15px 15px 0 0 
    rgba(65,117,5,0.4), 20px 20px 0 0 
    rgba(65,117,5,0.2), 25px 25px 0 0 
    rgba(65,117,5,0.1);
}
.card:hover {
  opacity: 0.5;
}

.card__image {
  width: 100%;
}

.card__name {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  color: rgb(41, 47, 30);
  text-decoration: none;
  
}

.button__wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  
}